
.menu-container {
  height: calc(100vh - 85px); /* ヘッダーの高さ分を引く */
}
.bg-body-tertiary{
    background-color: black !important;
}
.row>* {
    padding-right:0;
    padding-left: 0;
}


.nav-item:hover{
  background-color: rgba(23,23,24,1)!important;
}
.tweet:hover{
    background-color: rgba(23,23,24,1)!important;
}

.side-btn {
    display: inline-block !important;  /* aタグの幅を内容に応じて可変に */
    width: auto !important;            /* 必要な幅だけ確保 */
    padding: 0.5rem 1rem;              /* ボタン内の余白を調整 */
    text-align: left;                  /* アイコンとテキストの配置を調整 */
}

.side-btn:hover{
    background-color: rgba(23,23,24,1)!important;
}
.navbar {
    --bs-navbar-padding-y: 0;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
}
.h-6{
    height:6%;
}

.h-10{
    height:15%;
}
.w-20{
    width:20%;
}


.w-85{
    width:85%;
}

.w-10{
    width:15%;
}
.w-15{
    width:15%;
}
.w-90{
    width:90%;
}

.h-4{
    height:4rem
}
.btn-black:hover{
    background-color: rgba(23,23,24,1)!important;
}

#post-area:focus,
#post-area:focus-within,
#post-area:active {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
    transition: none !important;
}
textarea{
  resize: none;
}
textarea::-webkit-scrollbar{
  display:none;
}

a {
  text-decoration: none;
  color:#fff;
}
