{% extends 'base.html' %}
{% load static %}

{% block title %}アカウント作成{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
{% if form.errors %}
    <ul>
        {% for field, errors in form.errors.items %}
            {% for error in errors %}
                <li>{{ field }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
<div class="w-100 d-flex align-items-center h-100 bg-signup-parent">
    <div class="form-signin w-75 h-75 m-auto bg-black text-white p-5 rounded-4 width height">
        <img src="{% static 'logo/logo-white.png' %}" class="d-block mx-auto" alt="My image" width="4%">
        <form class="m-3 needs-validation" action="{% url 'account_login' %}" method="POST" novalidate> {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}
                </div>
            {% endfor %}
            {% endif %}
            <h1 class="h3 mb-4 fw-normal text-start fw-bold fs-2">Xにログイン</h1>
            <div class="form-floating mb-4">
                <input type="email" class="text-white bg-black form-control border-gray" name="login" id="id_login" placeholder="" autocomplete="off" required>
                <label for="id_login" class="text-gray form-label floating-label" required>電話番号/メールアドレス/ユーザ名</label>
                <div class="invalid-feedback">
                    メールアドレスを入力してください。
                </div>
            </div>
            <div class="form-floating mb-4">
                <input type="password" class="text-white bg-black form-control border-gray" name="password" id="id_password" placeholder="" autocomplete="off" required>
                <label for="id_password" class="text-gray form-label floating-label" required>パスワード</label>
                <div class="invalid-feedback">
                    パスワードを入力してください。
                </div>
            </div>
            <button class="btn rounded-5 d-block w-100 py-3 bg-white text-black mx-auto fw-bold mt-5 " type="submit">ログイン</button>
            <button class="btn rounded-5 d-block w-100 py-3 bg-black text-white mx-auto fw-bold mt-4 border border-white " type="submit">パスワードを忘れた場合はこちら</button>
            <a href="/accounts/github/login/?process=login" class="btn rounded-5 d-block w-100 py-3 bg-black text-white mx-auto fw-bold mt-4 border border-white " type="submit">GitHubでのログインはこちら</a>
        </form>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{% static 'js/login.js' %}"></script>
{% endblock %}